{% extends 'base.html' %}

{% block content %}
    <h1>Події</h1>
    <div class="events">
        {% for event in events %}
            <div class="event">
                <h2>{{ event.title }}</h2>
                <p>Дата: {{ event.date }}</p>
                <p>Місце: {{ event.location }}</p>
                <p>{{ event.description }}</p>
                <p>Організатор: {{ event.organizer.username }}</p>
            </div>
        {% empty %}
            <p>Наразі немає доступних подій.</p>
        {% endfor %}
    </div>
{% endblock %}